* {
    box-sizing: border-box;
}

.relative {
    position: relative;
    background-color: #eee;
    height: 150px;
    padding: 15px;
    text-align: center;
}

.absolute {
    position: absolute;
    background-color: #999;
    text-align: center;
    bottom: 0px;
    right: -20px;
       
}

.fixed {
    position: fixed;
 
    background-color: #eee;
    padding: 40px;
    top: 0px;
    left: 0px;
    text-align: center;
    margin: 0px;
}

.text {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
}

.wrapper {
    width: 600px;
    margin: 0 auto 0 auto;
    padding: 20px;
}

p {
    font-size: 24;
    line-height: 32px;
    color: black;
}